* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 3px solid red; */
}
@font-face {
    font-family: "Baybayin";
    src: url(TintangBaybayin.otf);
}


body {
    background-color: #171717;

}
body::-webkit-scrollbar {
  display: none;
}

main {
    padding: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main h1 {
    position: relative;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 2rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    position: relative;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.input-container {
    text-align: left;
    width: 90%;
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
}

.container textarea {
    all: unset;
    width: 100%;
    height: 15rem;
    padding: .8rem;
    border-radius: .5rem;
    color: aliceblue;
    background-color: #2d2d2de4;
    font-size: 1.5rem;

}

textarea:focus {
    outline: 3px solid rgba(214, 214, 214, 0.24);
}


h2 {
    position: absolute;
    top: -1.5rem;
    color: white;
    font-size: 1rem;

    font-family:monospace;
    font-weight: bolder;
    z-index: 999;
    text-align: center;
}
#hidden{
    display: flex;
    visibility: hidden;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    
}

h3 {
    padding: .5rem;
    background-color: #242424;
    border-radius: .4rem;
    color: white;
    letter-spacing: .3rem


}
.ei:after {
    content: '\1701';
    font-family: baybayin;
}

.ou::after{
    content: '\1702';
    font-family: baybayin;

}
select {
    font-size: 2rem;
    color: white;
    padding: .3rem;

    border-radius: .5rem;
    background-color: #242424;
    cursor: pointer;
    text-align: center;
}






@media (max-width: 600px) {
    main h1{
        margin-top: 1rem;
    }
    .container {
        margin-top: 2rem;
        flex-direction: column;
            
    }
    .container textarea {
        height: 30vh;
        margin: 0;
        display: flex;
        
        
        
    }


}

footer {
    background-color: #171717;
    
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 2rem;

}

.icon {
    width: 1.6rem;
    height: 1.5rem;
    fill: rgb(95, 95, 95);
    transform: translateY(0);
    transition: all .2s ease;
    
}

.icon:hover {
    fill: rgb(132, 132, 132);
}

a {
    transition: all .2s ease;
}


a:hover {
    transform: translateY(-.3rem);
    
}
